{
    (
        modifiers: [
            Super,
        ],
        key: "Left",
    ): Move(Left),
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "Down",
    ): Focus(Down),
    (
        modifiers: [
            Ctrl,
            Alt,
            Shift,
        ],
        key: "Right",
    ): MoveToNextWorkspace,
    (
        modifiers: [
            Super,
        ],
        key: "Up",
    ): Move(Up),
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "Up",
    ): Focus(Up),
    (
        modifiers: [
            Ctrl,
            Alt,
            Shift,
        ],
        key: "Left",
    ): MoveToPreviousWorkspace,
    (
        modifiers: [
            Super,
        ],
        key: "Right",
    ): Move(Right),
    (
        modifiers: [
            Ctrl,
            Alt,
        ],
        key: "Left",
    ): PreviousWorkspace,
    (
        modifiers: [
            Super,
        ],
        key: "Down",
    ): Move(Down),
    (
        modifiers: [
            Ctrl,
            Alt,
        ],
        key: "Right",
    ): NextWorkspace,
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "Left",
    ): Focus(Left),
    (
        modifiers: [
            Super,
            Shift,
        ],
        key: "Right",
    ): Focus(Right),
}