(
    id: "8d286ae7-5e7c-443d-b5ca-ddb791922e67",
    name: "Cosmic",
    custom: false,
    schema: Panel((
        panel_config: (
            config_list: [
                (
                    name: "Panel",
                    anchor: Top,
                    anchor_gap: false,
                    layer: Top,
                    keyboard_interactivity: OnDemand,
                    size: XS,
                    output: All,
                    background: ThemeDefault,
                    plugins_wings: Some(([
                        "com.system76.CosmicPanelWorkspacesButton",
                        "com.system76.CosmicPanelAppButton",
                    ], [
                        "com.system76.CosmicAppletInputSources",
                        "com.system76.CosmicAppletStatusArea",
                        "com.system76.CosmicAppletTiling",
                        "com.system76.CosmicAppletAudio",
                        "com.system76.CosmicAppletNetwork",
                        "com.system76.CosmicAppletBattery",
                        "com.system76.CosmicAppletNotifications",
                        "com.system76.CosmicAppletBluetooth",
                        "com.system76.CosmicAppletPower",
                    ])),
                    plugins_center: Some([
                        "com.system76.CosmicAppletTime",
                    ]),
                    size_wings: None,
                    size_center: None,
                    expand_to_edges: true,
                    padding: 0,
                    spacing: 2,
                    border_radius: 0,
                    exclusive_zone: true,
                    autohide: None,
                    margin: 0,
                    opacity: 1.0,
                ),
                (
                    name: "Dock",
                    anchor: Bottom,
                    anchor_gap: false,
                    layer: Top,
                    keyboard_interactivity: OnDemand,
                    size: L,
                    output: All,
                    background: ThemeDefault,
                    plugins_wings: None,
                    plugins_center: Some([
                        "com.system76.CosmicPanelLauncherButton",
                        "com.system76.CosmicPanelWorkspacesButton",
                        "com.system76.CosmicPanelAppButton",
                        "com.system76.CosmicAppList",
                        "com.system76.CosmicAppletMinimize",
                    ]),
                    size_wings: None,
                    size_center: None,
                    expand_to_edges: true,
                    padding: 0,
                    spacing: 4,
                    border_radius: 0,
                    exclusive_zone: true,
                    autohide: None,
                    margin: 0,
                    opacity: 1.0,
                ),
            ],
        ),
        panel_config_version: 1,
        panel_button_config: (
            configs: {
                "Dock": (
                    force_presentation: Some(Icon),
                ),
                "Panel": (
                    force_presentation: None,
                ),
            },
        ),
        panel_button_config_version: 1,
    )),
    preview: (
        panel: (
            position: Top,
            extend: true,
            hidden: false,
            size: 10,
        ),
        dock: (
            position: Bottom,
            extend: true,
            hidden: false,
            size: 20,
        ),
        dock_icons: 6,
        show_window: true,
    )
)
