#TODO: more build-out, desktop actions, translations?
[Desktop Entry]
Name=Tweaks for COSMIC
Exec=cosmic-ext-tweaks %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.edfloreshz.CosmicTweaks
Categories=COSMIC;Utility;FileManager;
Keywords=Folder;Manager;
MimeType=inode/directory;
